<!-- This Home Page will serve as a welcome page describing the project and the websites pages-->
{% extends "base.html"%} {%block title %} Home Page {% endblock %}
{%block header %} Home Page {% endblock %}
{%block content %}
    <p> Welcome to the home page</p>
    <p> This is an experimentation plateform created by four student</p>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <h4 id="scrollspyHeading1">Description</h4>
        <p>Blabla</p>
        <h4 id="scrollspyHeading2">Second heading</h4>
        <p></p>
        <h4 id="scrollspyHeading3">Third heading</h4>
        <p>...</p>
        <h4 id="scrollspyHeading4">Fourth heading</h4>
        <p>...</p>
        <h4 id="scrollspyHeading5">Fifth heading</h4>
        <p>...</p>
      </div>
{% endblock %}